In [38]:
import pandas as pd

In [39]:
data = pd.read_csv('./netflix_titles.csv')

In [40]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life,filmma..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata,Khosi Ngema,Gail Mabalane,Thabang M...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows,TV Dramas,TV Mysteries","After crossing paths at a party,a Cape Town te..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila,Tracy Gotoas,Samuel Jouy,Nabiha ...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows,International TV Shows,TV Actio...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries,Reality TV","Feuds,flirtations and toilet talk go down amon..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More,Jitendra Kumar,Ranjan Raj,Alam Khan...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows,Romantic TV Shows,TV Co...",In a city of coaching centers known to train I...

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

### Duplicate Values in rows and show_id column

In [42]:
duplicate = data[data.duplicated()]
 
print("Duplicate Rows :", duplicate)

Duplicate Rows : Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

In [43]:
duplicate_show = data['show_id'].duplicated().any()
print('Any duplicate Show Id:',duplicate_show)

Any duplicate Show Id: False

### Missing values and Treatment

In [44]:
data[data.columns[data.isnull().any()]].isnull().sum()

director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [56]:
data['country'].fillna('No Info',inplace = True)
data['cast'].fillna('No Info',inplace = True)
data['director'].fillna('No Info',inplace = True)

In [57]:
data = data.dropna(axis=0, subset=['date_added','rating','duration'])

In [46]:
data[data.columns[data.isnull().any()]].isnull().sum()

director    2621
cast         825
country      829
dtype: int64

### Add Numeric column for Duration and Seasion

In [47]:
data['duration_n']=data['duration'].str.split(' ').str[0]

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      6169 non-null   object
 4   cast          7965 non-null   object
 5   country       7961 non-null   object
 6   date_added    8790 non-null   object
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  duration_n    8790 non-null   object
dtypes: int64(1), object(12)
memory usage: 961.4+ KB

In [49]:
data[data.columns[data.isnull().any()]].isnull().sum()

director    2621
cast         825
country      829
dtype: int64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8790 entries, 0 to 8806
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      6169 non-null   object
 4   cast          7965 non-null   object
 5   country       7961 non-null   object
 6   date_added    8790 non-null   object
 7   release_year  8790 non-null   int64
 8   rating        8790 non-null   object
 9   duration      8790 non-null   object
 10  listed_in     8790 non-null   object
 11  description   8790 non-null   object
 12  duration_n    8790 non-null   object
dtypes: int64(1), object(12)
memory usage: 961.4+ KB

In [71]:
data.to_csv('./neflix_titles_new_df.csv')

### Country wise number of **Shows**

In [62]:
from tqdm import tqdm
l1 = [j for i in data['country'] for j in i.split(',')]
l2 = [i.strip() for i in l1]
country = []
for i in tqdm(l2):
    if i not in country:
        country.append(i)
print('Number of Unique Values in country : ',len(country))

100%|██████████| 10833/10833 [00:00<00:00, 936302.65it/s]

Number of Unique Values in country :  124

In [63]:
country = pd.DataFrame(columns = country)
data.reset_index(inplace = True,drop = True)
for i in tqdm(range(len(data))):
    split_text = data.loc[i,'country'].split(',')
    cols = list(country.columns)
    for j in range(len(split_text)):
        strip_text = split_text[j].strip(); country.loc[i,strip_text] = 1 
        cols.remove(strip_text); country.loc[i,cols] = 0
country.head()

100%|██████████| 8790/8790 [01:15<00:00, 115.98it/s]

,United States,South Africa,Unknown,India,Ghana,Burkina Faso,United Kingdom,Germany,Ethiopia,Czech Republic,...,Jamaica,Kazakhstan,Lithuania,Afghanistan,Somalia,Sudan,Panama,Uganda,East Germany,Montenegro
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
country_shows = pd.DataFrame()
country_shows['Countries'] = list(country.columns)
country_shows['Number of Shows'] = [sum(country[i]) for i in country.columns]
country_shows.to_csv("country_wise_show.csv")

100%|██████████| 19294/19294 [00:00<00:00, 729315.98it/s]

Number of Unique Values in listed_in :  42

### Genre wise number of **Shows**

In [ ]:
l1 = [j for i in data['listed_in'] for j in i.split(',')]
l2 = [i.strip() for i in l1]
listed_in = []
for i in tqdm(l2):
    if i not in listed_in:
        listed_in.append(i)
print('Number of Unique Values in listed_in : ',len(listed_in))

In [68]:
listed = pd.DataFrame(columns = listed_in)

for i in tqdm(range(len(data))):
    split_text = data.loc[i,'listed_in'].split(',')
    cols = list(listed.columns)
    for j in range(len(split_text)):
        strip_text = split_text[j].strip(); listed.loc[i,strip_text] = 1 
        cols.remove(strip_text); listed.loc[i,cols] = 0
listed.head()

100%|██████████| 8790/8790 [00:40<00:00, 218.30it/s]

,Documentaries,International TV Shows,TV Dramas,TV Mysteries,Crime TV Shows,TV Action & Adventure,Docuseries,Reality TV,Romantic TV Shows,TV Comedies,...,Science & Nature TV,Teen TV Shows,Cult Movies,TV Shows,Faith & Spirituality,LGBTQ Movies,Stand-Up Comedy,Movies,Stand-Up Comedy & Talk Shows,Classic & Cult TV
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [69]:
shows_genre = pd.DataFrame()
shows_genre['Genre'] = list(listed.columns)
shows_genre['Number of Shows'] = [sum(listed[i]) for i in listed.columns]
shows_genre.to_csv("genre_wise_show.csv")