In [8]:
import pandas as pd

In [9]:
data = pd.read_csv("../data/fb_price.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
1,2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2,2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
3,2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
4,2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200

In [19]:
def getExpectedReturn(df, price_col_name, annualise=True, annualise_method='sophisticated'):
    
        # Calculate returns of prices
        returns = df[price_col_name].pct_change(1)
    
        # Calculate the expected return using the mean method
        expected_return_daily = returns.mean()
        
        if annualise:
            if annualise_method == 'sophisticated':
                print('1')
                expected_return_annual = ((1+ expected_return_daily) ** 250) -1
            else:
                #crude method
                expected_return_annual = expected_return_daily * 250
            return expected_return_annual
        else:
            return expected_return_daily

In [20]:
print(getExpectedReturn(data,'Adj Close'))

1
0.40093243279785296

In [22]:
print(getExpectedReturn(data,'Adj Close',annualise=False))

0.001349461858750009

In [23]:
print(getExpectedReturn(data,'Adj Close',annualise_method='crude_method'))

0.3373654646875022